<h1>Locations</h1>
<p>
	<md-button
		ui-sref="locationNew()"
		class="md-primary md-raised">New Location</md-button>
</p>
<md-list>
	<md-list-item ng-repeat="location in $ctrl.locations">
		<p>{{ location.streetAddress }} {{ location.streetAddress2 }}<br />{{ location.city }}, {{ location.state }} {{ location.zipCode }}</p>
	</md-list-item>
</md-list>

<div ng-if="$ctrl.locations.length">
	<h1>Events</h1>
	<p>
		<md-button
			ui-sref="eventNew()"
			class="md-primary md-raised">New Event</md-button>
	</p>
	<md-list>
		<md-list-item ng-repeat="event in $ctrl.events">
			<p>
				{{ event.datetime | date:"EEEE, MMMM d, y 'at' h:mma":event.timezoneOffset }}, offset of {{ event.timezoneOffset }}<br />
				{{ event.datetime | date:"EEEE, MMMM d, y 'at' h:mma" }} in your timezone
			</p>
		</md-list-item>
	</md-list>
</div>
